#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        // Windows 側: IME オフ + Windows ベースレイヤーへ復帰
        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
            layers = <0 2 3 4 5 6 7>;
        };

        // Mac 側: 英数 + Mac ベースレイヤーへ復帰
        eisuu_mac {
            bindings = <&to_layer_1 LANG2>;
            key-positions = <11 10>;
            layers = <1 8>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };

        to_layer_1: to_layer_1 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 1 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_1";
        };
    };

    // MAC(1) と FUNCTION(2) が同時に有効なとき MAC_FUNCTION(8) を上乗せする。
    // 8 > 2 > 1 なので、MAC_FUNCTION の &trans は FUNCTION → MAC の順に解決される。
    conditional_layers {
        compatible = "zmk,conditional-layers";

        mac_function {
            if-layers = <1 2>;
            then-layer = <8>;
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
        encoder_msc_down_up: encoder_msc_down_up {
          compatible = "zmk,behavior-sensor-rotate";
          label = "ENCODER_MSC_DOWN_UP";
          #sensor-binding-cells = <0>;
          bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
          tap-ms = <20>;
      };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E         &kp R        &kp T                                          &kp Y          &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F        &kp G        &mkp MCLK      &kp MINUS          &kp H          &kp J  &kp K      &kp L    &kp SEMI
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V        &kp B        &lt 7 TAB      &kp RIGHT_BRACKET  &kp N          &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_GUI  &lt 3 LANG1  &lt 2 LANG2  &kp SPACE      &kp ENTER          &kp BACKSPACE                             &kp DEL
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        // Mac 用ベースレイヤー。default_layer との差分は最下段の修飾キーのみで、
        // LCTRL の位置に LEFT_GUI(Command) を置くことでコピー/ペースト等の指使いを揃える。
        // IME キー(LANG1=かな / LANG2=英数)は元々 Mac 準拠なのでそのまま。
        MAC {
            bindings = <
&kp Q             &kp W         &kp E         &kp R        &kp T                                          &kp Y          &kp U  &kp I      &kp O    &kp P
&kp A             &kp S         &kp D         &kp F        &kp G        &mkp MCLK      &kp MINUS          &kp H          &kp J  &kp K      &kp L    &kp SEMI
&mt LEFT_SHIFT Z  &kp X         &kp C         &kp V        &kp B        &lt 7 TAB      &kp RIGHT_BRACKET  &kp N          &kp M  &kp COMMA  &kp DOT  &kp SLASH
&kp LEFT_GUI      &kp LEFT_ALT  &kp LCTRL     &lt 3 LANG1  &lt 2 LANG2  &kp SPACE      &kp ENTER          &kp BACKSPACE                             &kp DEL
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        FUNCTION {
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5                                         &kp F6    &kp F7          &kp F8          &kp F9               &kp F10
&kp F11  &kp F12  &trans  &trans  &trans           &trans      &trans            &kp HOME  &kp LC(LEFT)    &kp UP_ARROW    &kp LC(RIGHT_ARROW)  &kp END
&trans   &trans   &trans  &trans  &kp PRINTSCREEN  &trans      &kp LEFT_BRACKET  &kp INS   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW      &kp ESC
&trans   &trans   &trans  &trans  &trans           &trans      &trans            &trans                                                         &trans
            >;
        };

        NUM {
            bindings = <
&kp EXCLAMATION  &kp AT_SIGN    &kp HASH      &kp DOLLAR            &kp PERCENT                                          &kp GRAVE          &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp EQUAL
&kp CARET        &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp MINUS
&kp LEFT_SHIFT   &trans         &trans        &trans                &trans                 &trans      &kp SINGLE_QUOTE  &kp KP_NUMBER_0    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp BACKSLASH
&trans           &trans         &trans        &trans                &trans                 &trans      &trans            &trans                                                                &kp PIPE
            >;
        };

        ARROW {
            bindings = <
&kp ESCAPE      &kp LC(LS(TAB))         &kp UP_ARROW    &kp LC(TAB)              &trans                       &trans  &trans  &trans  &trans  &trans
&kp HOME        &kp LEFT_ARROW          &kp DOWN_ARROW  &kp RIGHT_ARROW          &kp END  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp LG(LS(LEFT_ARROW))  &trans          &kp LG(LS(RIGHT_ARROW))  &trans   &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans          &trans                  &trans          &trans                   &trans   &trans      &trans  &trans                          &trans
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans   &trans                      &trans  &trans    &trans    &trans    &mkp MB4
&trans  &trans  &trans  &lt 0 F  &trans  &trans      &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &mkp MB5
&trans  &trans  &trans  &trans   &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans   &trans  &trans      &trans  &trans                                &trans
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        // W = Windows ベース(0)、M = Mac ベース(1)。トグルではなく明示指定なので、
        // 現在どちらのベースにいるか分からなくても必ず目的の状態に入れる。
        SETTINGS {
            bindings = <
&trans  &to 0         &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &studio_unlock       &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &to 1         &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };

        // MAC(1) + FUNCTION(2) のときだけ conditional-layers 経由で有効になる差分レイヤー。
        // &trans の位置は FUNCTION(2) の内容にフォールスルーするので、Mac で意味が変わる
        // カーソル移動とスクリーンショットだけを上書きしている。
        MAC_FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                    &trans        &trans        &trans  &trans         &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans    &kp LG(LEFT)  &kp LA(LEFT)  &trans  &kp LA(RIGHT)  &kp LG(RIGHT)
&trans  &trans  &trans  &trans  &kp LG(LS(NUMBER_4))    &trans  &trans    &trans        &trans        &trans  &trans         &trans
&trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans                                             &trans
            >;
        };
    };

};
